section.buy
	.container
		.row
			+buy("phone-square","ORDER ONLINE NOW","Call Us: (0123) 456 789")
			+buy("plane","FREE WORLDWIDE SHIPPING","On Order Over $100")
			+buy("money","30 DAYS MONEY BACK 100%","Satisfation Guarantee")

