section.clientes.text-center
	.container
		.row
			.col-md-2
				+addimg('client1.jpg')
			.col-md-2
				+addimg('client2.jpg')
			.col-md-2
				+addimg('client3.jpg')
			.col-md-2
				+addimg('client4.jpg')
			.col-md-2
				+addimg('client5.jpg')
			.col-md-2
				+addimg('client6.jpg')
