section.clothing
	.container
		+title(5,"chevron-left","CLOTHING","EQUIPEMENTS","JEGUELLERY","chevron-right")
		.row
			+clothing("a2.jpg",0,3,0)
			+clothing("h2.jpg",1,2,0)
			+clothing("g2.jpg",1,4,0)
		.row
			+clothing("c2.jpg",0,2,0)
			+clothing("c2.jpg",1,1,0)
			+clothing("e2.jpg",1,2,0)






