footer.one
	.container
		.row
			.col-md-3
				h5 ACCESSORIES
				H6 Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt ut labor et dolore magna aliqua. Ut enimad minim veniam quis nostrud exercitation ullamco laboris
				+accesories("facebbok","twitter","rss","skype","dribbble")
			+listfooter("MY ACCOUNT","My Account","Order History","Wish List","Newsletter")
			+listfooter("Information","About Us","Delivery Information","Privacy Policy","Terms & Conditions","")
			+listfooter("EXTRAS","Brand","Gift Vouchers","Affiliates","Specials","")
			.col-md-3
				h5 ABOUT US
				ul.list-unstyled.list-inline
					li
						i.fa.fa-phone

					li
						h6	809 Marmora Road, Glasgow D04 89 GR, New York
				ul.list-unstyled.list-inline
					li
						i.fa.fa-map-marker

					li
						h6 (0123)456789
						h6 (0987)654321
				ul.list-unstyled.list-inline
					li
						i.fa.fafa-envelope

					li
						h6 admin@bootexperts.com
footer.two
	.container
		.row
			.col-md-9
				h6
					span Copyright @2016
					a(href="#") BootExpress.
					span All rights reserved.
			.col-md-3
				+addimg("payment.png")

				









