section.latest.text-center
    .container
        +title(5,"chevron-left","LATEST","BESTELLER","SALE","chevron-right")
        #myCarousel.carousel.slide
            ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
            .carousel-inner.text-center(role='listbox')
                .item.active
                    .row
                        +carousel("a1.jpg",0,2)
                        +carousel("b1.jpg",1,3)
                        +carousel("c1.jpg",1,1)
                        +carousel("d1.jpg",0,2)


                .item
                    .row
                        +carousel("a1.jpg",0,2)
                        +carousel("b1.jpg",1,3)
                        +carousel("c1.jpg",1,1)
                        +carousel("d1.jpg",0,2)