include helpers/mixins
<!DOCTYPE html>
html(lang="en")
	include views/head		
	body
		include views/header
		include views/slider
		include views/publicidad
		include views/latest
		include views/clientes
		include views/clothing
		include views/blog
		include views/buy
		include views/footer
		include views/js/js.jade
