include helpers/mixins
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Fashion Accesories
		link(rel="stylesheet", href="assets/css/font-awesome.min.css")
		link(rel="stylesheet", href="assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/css/main.css")
			
	body
		include views/header
		include views/slider
		include views/publicidad
		include views/latest
		include views/clientes
		include views/clothing
		include views/blog
		include views/footer
