@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300,100,500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
$roboto:'Roboto', sans-serif;
$open:'Open Sans', sans-serif;
$lato:'Lato', sans-serif;
//Variables header
$bgpart1:#EEEEEE;
$textpart1:#888888;
$borderpart1:#E2E2E2;
$bg1:#E48080;//rojo 
$bg2:#444444;//negro
$colorbd1:#E8E8E9;
$colortext1:#E8E8E9;

